.swal2-icon.swal2-success .swal2-success-ring {
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
}

.swal2-icon.swal2-success{
    border-color: transparent;
}
.swal2-icon{
    border-radius:  50% !important;
}

.caption{
    color:#36c6d3!important;
}
.help-block{
    color: red;
}
