
.cssload-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cssload-container {
    /*margin: 50px auto 0 auto;
    max-width: 1398px;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: gainsboro;
    opacity: 0.75;
}

.cssload-container ul li{
    list-style: none;
}

.cssload-flex-container {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
}
.cssload-flex-container li {
    padding: 25px;
    height: 250px;
    width: 250px;
    margin-top: 20%;
    position: relative;
    text-align: center;
}

.cssload-loading, .cssload-loading:after, .cssload-loading:before {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 125px;
    background: currentColor;
    margin-top: 13px;
    border-radius: 2500px;
    -o-border-radius: 2500px;
    -ms-border-radius: 2500px;
    -webkit-border-radius: 2500px;
    -moz-border-radius: 2500px;
    animation: cssload-upDown2 1.15s ease infinite;
    -o-animation: cssload-upDown2 1.15s ease infinite;
    -ms-animation: cssload-upDown2 1.15s ease infinite;
    -webkit-animation: cssload-upDown2 1.15s ease infinite;
    -moz-animation: cssload-upDown2 1.15s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-delay: 0.29s;
    -o-animation-delay: 0.29s;
    -ms-animation-delay: 0.29s;
    -webkit-animation-delay: 0.29s;
    -moz-animation-delay: 0.29s;
}
.cssload-loading:after, .cssload-loading:before {
    position: absolute;
    content: '';
    animation: cssload-upDown 1.15s ease infinite;
    -o-animation: cssload-upDown 1.15s ease infinite;
    -ms-animation: cssload-upDown 1.15s ease infinite;
    -webkit-animation: cssload-upDown 1.15s ease infinite;
    -moz-animation: cssload-upDown 1.15s ease infinite;
    animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}
.cssload-loading:before {
    left: -25px;
}
.cssload-loading:after {
    left: 25px;
    animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -moz-animation-delay: 0.58s;
}




@keyframes cssload-upDown {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(-50px);
    }
}

@-o-keyframes cssload-upDown {
    from {
        -o-transform: translateY(50px);
    }
    to {
        -o-transform: translateY(-50px);
    }
}

@-ms-keyframes cssload-upDown {
    from {
        -ms-transform: translateY(50px);
    }
    to {
        -ms-transform: translateY(-50px);
    }
}

@-webkit-keyframes cssload-upDown {
    from {
        -webkit-transform: translateY(50px);
    }
    to {
        -webkit-transform: translateY(-50px);
    }
}

@-moz-keyframes cssload-upDown {
    from {
        -moz-transform: translateY(50px);
    }
    to {
        -moz-transform: translateY(-50px);
    }
}

@keyframes cssload-upDown2 {
    from {
        transform: translateY(75px);
    }
    to {
        transform: translateY(-50px);
    }
}

@-o-keyframes cssload-upDown2 {
    from {
        -o-transform: translateY(75px);
    }
    to {
        -o-transform: translateY(-50px);
    }
}

@-ms-keyframes cssload-upDown2 {
    from {
        -ms-transform: translateY(75px);
    }
    to {
        -ms-transform: translateY(-50px);
    }
}

@-webkit-keyframes cssload-upDown2 {
    from {
        -webkit-transform: translateY(75px);
    }
    to {
        -webkit-transform: translateY(-50px);
    }
}

@-moz-keyframes cssload-upDown2 {
    from {
        -moz-transform: translateY(75px);
    }
    to {
        -moz-transform: translateY(-50px);
    }
}