li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-content {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.error {
    color: red;
    font-weight: bold;
}

.wickedpicker {
    z-index: 99999
}

.profile-stat-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-group .form-control:focus {
    border-color: #32c5d2;
    box-shadow: none;
}

.company-picture {
    height: 200px;
    width: 200px;
}

.companies-list li {
    float: left;
    width: 100%;
    border: 1px solid #884f4f;
    padding: 10px;
    border-radius: 5px !important;
    margin-bottom: 20px;
}

.company-logo {
    float: left;
    width: 150px;
    height: 150px;
}

.company-info {
    float: left;
    margin-left: 20px;

}

.company-info a {
    color: #2c3452;
    font-family: serif;
    font-size: 18px;
    text-decoration: underline;
}

.company-info p {
    margin: 5px 0;
}

#greeting {
    display: inline-block;
    float: left;
    color: #c6cfda;
    margin-top: 17px;
    font-size: 13px;
    font-weight: 300;
    margin-left: 30px;
}

.page-content-wrapper .page-content {
    min-height: calc(100vh - 33px) !important;
}

.page-footer-tools {
    display: none;
}

.page-footer .page-footer-inner {
    width: 100%;
    text-align: center;
}
.page-footer{
    font-size: 16px;
}

.page-header.navbar .page-logo > a {
    color: #b4bcc8;
}

body .page-header.navbar .page-logo .logo-default {
    margin: 0;
    width: 65px;
}

body .page-header.navbar .menu-toggler > span {
    top: -7px;
}


.product-list li {
    height: 50px;
    width: 100%;
    border: 1px dashed #884f4f;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.product-list button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.product-list button:hover {
    background-color: #39B7CD;
    border-color: #39B7CD;
}
.product-list button:focus {
    background-color: #39B7CD!important;
    border-color: #39B7CD!important;
}

.product-price{
    float: right;
    margin-right: 80px;
}

.order-container{
    width: 100%;
    float: left;
    border: 1px dashed #884f4f;
}
.product-name{
    margin-left: 5px;
}
/*.title-menu p{
    margin: 10px auto;
    text-align: center;
    border-bottom: 1px dashed #884f4f;
    font-size: 16px;
}*/
/*hr, p{
    margin: 15px 0!important;
}*/
/*.ordered-product .product-name {
    margin-left: 15px !important;
}

.ordered-product .product-name{
    float: left;
}
.ordered-product .product-price{
    float: left;
    margin-left: 80px;
}
.ordered-product .product-remove{
    float: right;
    margin-right: 10px;

}*/
/*.product-list{*/
/*width: 80%;*/
/*}*/

.mt-checkbox{
    margin-bottom: 0px!important;
    margin-top: 11px;
    margin-left: 30%;
    color: #32c5d2;
    font-weight: 900;
}

