#sortable1 li, #sortable2 li {
    width: 120px;
    height: 40px;
    border: 1px solid rgb(54, 65, 80);
    display: inline-block;
    margin: 5px 0 5px 0;
    padding: 10px 0px;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.portlet-body ul{
    height:180px;
    resize: vertical;
    overflow: auto;
}
.product{
    cursor: move;
}
div .caption{
    width: 200px;
}

#sortable1 li.ui-sortable-helper, #sortable2 li.ui-sortable-helper{
    border:1px dashed  #32c5d2;
}


.search-box-wrapper{
    float: left;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 30%;

}

.search-box-input{
    width: 250px;
    border-radius: 2em!important;
}

.search-box-wrapper i{
    position: absolute;
    right: 0px;
    padding-right: 10px;
    padding-top: 10px;
}



