#product-images li {
    float: left;
    width: 170px;
    height: 220px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(43, 54, 67);
    text-align: center;
    padding: 10px;
    position: relative;
}

.image-main{
    float: left;
    width: 170px;
    height: 220px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 3px solid rgb(51, 195, 202)!important;
    text-align: center;
    padding: 10px;
    position: relative;
}

#product-images li img {
    max-width: 100%;
    height: 160px;
    object-fit: cover;

}

#product-images, #productImage {
    float: left;
    width: 100%;
}

#product-images {
    margin-bottom: 50px;
}

.remove-image i{
    font-size: 25px;
    color: rgb(43, 54, 67);
}
.remove-image i:hover{
    color: rgb(51, 195, 202);
}

#make-main {
    height: 25px;
    padding: 2px;
    width: 80px;
    margin-bottom: 7px;
}
 #make-main:hover{
    color: rgb(51, 195, 202);
}
.make-main-delete{
    margin-top: 15px;
}

/*.remove-image {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}

.remove-image:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.remove-image i, .remove-image  {
    -webkit-transition: .15s all ease-in;
    -moz-transition: .15s all ease-in;
    -o-transition: .15s all ease-in;
    transition: .15s all ease-in;
}

.remove-image i {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
}

.remove-image:hover i {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}*/
