.action-anchors a {
     color: #364150;
     background: transparent;
     border: 0;
     font-size: 20px;
 }

.action-anchors a.delete-anchor {
    font-size: 19px;
}

.action-anchors a:hover {
    color: #36c6d3;
}


#delete {
    display: inline;
}